---
layout: default
---

{% assign author = site.authors[page.author] %}
<article>
    <header itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="headline" itemprop="name">{{ page.title }}</h1>
        <div class="byline">
            By {% mention {{ page.author }} author %} on <time itemprop="dateCreated" pubdate datetime="{{ page.date | date: "%Y-%m-%d" }}" title="{{ page.date | date_to_long_string }}">{{ page.date | date_to_string }}</time>
        </div>
		<meta itemprop="description" content="{{ page.description }}" />
    </header>

    <div class="article-content post">
		{{ content }}
    </div>
</article>
